<!DOCTYPE html>
<html>
  <head>
    <script src="/js/lib.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <script>
      var main = requireSync('main.js');
      console.log(main.a);
  </script>
  </body>
</html>
